@font-face {
  font-family: "Great Vibes";
  src: url("./assets/fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/Inter-VariableFont_opsz_wght.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.times-new-roman {
  font-family: 'Times New Roman', Times, serif;
}
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
}
.oswald {
  font-family: "Oswald", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}